body{
    margin: 0;
    padding: 0;

}

.container {
    background: #f1f1f1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-container{
    border: 10px solid #67C3E9;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-container{
    background: linear-gradient(#68C3E9, #9CD5D2);
    border-radius: 10px;
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.core-box {
    background: #9BD6E4;
    width: 50%;
    height: 50%;
  }

  .letter-box-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    position: absolute;
  }

  .flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .letter-box {
    width: 90%;
    height: 90%;
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: sans-serif;
    color: #67C3E9;
    text-shadow: 1px 1px 3px #808080;
    box-shadow: 1px 1px 10px #808080 inset;
  }

  .flex-row div:first-child{
      margin-right:25px;
  }

  
  